MP_PUBLIC_KEY=TU_PUBLIC_KEY
MP_ACCESS_TOKEN=TU_ACCESS_TOKEN
MP_CLIENT_ID=TU_CLIENT_ID
MP_CLIENT_SECRET=TU_CLIENT_SECRET

PORT=3000
FRONTEND_URL=https://tu-tienda.com
BACKEND_URL=https://api.tu-tienda.com